{% extends 'movierecommender/base.html' %}

{% block title %}Movie List{% endblock %}

{% block content %}
  <h2>Movie List</h2>
  <p>Mark the movies you've watched:</p>
  <form method="post">
    {% csrf_token %}
    {% for movie in movies %}
      <div>
        <input type="checkbox" id="movie_{{ movie.id }}" name="movie_id" value="{{ movie.id }}"
               {% if movie.id in watched_movies %}checked{% endif %}
               onchange="this.form.submit()">
        <label for="movie_{{ movie.id }}">{{ movie.original_title }}</label>
      </div>
    {% endfor %}
  </form>
{% endblock %}